body {
  font-family: "Exo 2", sans-serif;
  background-image: url("abstract-modern-cool-geometric-pattern-background-vector.jpg");
  background-size: auto;
}
header {
  text-align: center;
}
header h1 {
  color: coral;
}
#search {
  width: 25%;
  height: 30px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 24px;
  outline-color: gold;
  margin: 1% 2%;
}
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
#emojiRslt {
  width: 100%;
}
.emoji {
  border-radius: 7px;
  background-color: rgba(160, 167, 255, 0.5);
  font-size: 30px;
  height: 50px;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;

  margin-top: 1%;
  padding: 10px 18px;
}
.emoji :first-child {
  margin-right: 10%;
  width: 20%;
}
.emoji :nth-child(2) {
  margin-right: 10%;
  width: 25%;
}
.emoji :last-child {
  width: 40%;
}
.titles {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  height: 60px;
  background-color: rgba(247, 134, 255, 0.5);
  border-radius: 10px;
  margin: 1% 0;
  padding: 1px 5px;
}
